/* Hide reasoning by default, show only a preview */
.reasoning {
    max-height: 54px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: max-height 0.3s ease;
    background: #d4d4d4;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 18px;
    color:#494949;
    font-size:small
}

/* Add a "click to expand" indicator */
.reasoning::after {
    content: "▼ Click to expand reasoning";
    position: absolute;
    bottom: 2px;
    right: 0px;
    background: #d4d4d4;
    padding: 3px 30px;
    font-size: 12px;
    font-weight:500;
    border-radius:5px;
    color: #000000;
}

.reasoning p{
  margin-top:20px !important;
  padding-left: 20px;
}

.reasoning p::before {
    content: "→";
    position: absolute;
    left: 10px;
}

/* Expanded state */
.reasoning.expanded {
    max-height: none;
}

.reasoning.expanded::after {
    content: "▲ Click to collapse";
}

pre:has(.pxe-markdown-code-inline) {
    background:#dedede;
    border-radius:.5em;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

code.pxe-markdown-code-inline{
    background-color:#dedede !important;
    color:black !important;
    font-weight:600 !important;
}



/* ===  Fixing Headers & Organization === */

/*Expander*/
button.w-full.flex.min-h-\[50px\].select-none.items-center.gap-3.p-2.outline-none.justify-between {
    margin-left:5px;
    font-weight: 500;
    justify-content:left;
    margin-bottom:-5px
}

/* Expander Box Shadow
*:has(> div > button.w-full.flex.min-h-\[50px\].select-none.items-center.gap-3.p-2.outline-none.justify-between) {
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.05);
    border-radius:8px; 
}*/

/*Open Expander*/
*:has(> div > button.w-full.flex.min-h-\[50px\].select-none.items-center.gap-3.p-2.outline-none.justify-between.border-none) {
    margin-bottom:10px;
}

/*Each AI & expander*/
button.flex.min-h-\[50px\].select-none.items-center.justify-between.gap-3.p-2.outline-none {
    margin-left: 14px;
    margin-top: -5px
}

/*Each Conversation*/
button.flex.min-h-\[48px\].w-full.select-none.items-center.justify-between.gap-3.p-2.pl-\[3\.25rem\].outline-none {
    margin-left: 15px;
    margin-bottom:-10px
}

/*Conversation holders*/
*:has(> div > button.flex.min-h-\[48px\].w-full.select-none.items-center.justify-between.gap-3.p-2.pl-\[3\.25rem\].outline-none) {
    padding-bottom: 20px;
}

/* See More Button */
button.flex.w-full.items-center.gap-2.rounded-sm.p-2.pl-\[3\.25rem\].outline-none {
    margin-top: 13px;
}

